body {
     background-image: url("BACKGROUND1.png");
     background-size: 100% 100vh;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: Arial, sans-serif;
                }
		.container {
			max-width: 800px;
			margin: 40px auto;
			padding: 20px;
			background-color: #99ccff;
			border: 10px solid #ff5050;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
  .aboutme {
   max-width: 100px;
   margin: 40px auto;
   padding: 20px;
   background-color: #cfd1d4;
   border: 1px solid #ff5050;
   border-radius: 1px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
		.games {
   max-width: 100px;
   margin: 40px auto;
   padding: 20px;
   background-color: #cfd1d4;
   border: 1px solid #ff5050;
   border-radius: 1px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }