         	.container {
			max-width: 800px;
			margin: 40px auto;
			padding: 20px;
			background-color: #99ccff;
			border: 10px solid #ff5050;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
  .aboutme {
   max-width: 100px;
   margin: 40px auto;
   padding: 20px;
   background-color: #cfd1d4;
   border: 1px solid #ff5050;
   border-radius: 1px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
		.games {
   max-width: 100px;
   margin: 40px auto;
   padding: 20px;
   background-color: #cfd1d4;
   border: 1px solid #ff5050;
   border-radius: 1px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #e46be8;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: center;
  display: block;
  color: #4dff4d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #;
  color: ;
}

 
